[Unit]
Description=Greenbone Security Assistant daemon (gsad)
Documentation=man:gsad(8) https://www.greenbone.net
After=network.target gvmd.service
Wants=gvmd.service

[Service]
Type=exec
User=gvm
PIDFile=/run/gsad/gsad.pid
RuntimeDirectory=gsad
RuntimeDirectoryMode=2775
ExecStart=/usr/sbin/gsad --foreground --listen 0.0.0.0 --port 9392 --http-only
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
Alias=greenbone-security-assistant.service
